
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    background-color: #ffebf5;
    border-color: #C586A5;
}
* {
    font-family: "Outfit", sans-serif;
    font-weight:300;
    font-style: normal;
  }

select,input,textarea{
    border: 2px solid #c2c2c2;
    outline-color: #C586A5;
    border-radius: 4px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }